ProgramFiles/
arXiv-1612.00511v2.tar
arXiv-2204.06411v1
calchep_3.9.1
micromegas_6.1.15
micromegas_6.1.15 - belyaev
arXiv-1612.00511v2
.DS_Store
Documents/.DS_Store
ModelFiles/
Data/
scans/5-D_scans/combined.dat.gz
scans/.DS_Store
scans/5-D_scans/.DS_Store
scans/5-D_scans/cleaned_dat_files/
scans/5-D_scans/combined.dat
FlagsForSh
HEPData-ins2841863-v1-csv.tar
/HEPData-ins2841863-v1-csv/
filedump./micromegas_6.2.3.tar
micromegas_6.2.3
micromegas_6.2.3.tar
Documents/Thesis/*
! Documents/Thesis/Figs
! Documents/Thesis/main.tex
! Documents/Thesis/references.bib
filedump/


# Ignore everything in Work/
Work/*

# But not these subfolders
!Work/CalcHEP_Scan_W-/
Work/CalcHEP_Scan_W-/**
!Work/CalcHEP_Scan_W-/scan2.c
!Work/CalcHEP_Scan_W-/scan2.dat

!Work/CalcHEP_Scan_W+/
Work/CalcHEP_Scan_W+/**
!Work/CalcHEP_Scan_W+/scan2.c
!Work/CalcHEP_Scan_W+/scan2.dat

!Work/CalcHEP_Scan_Z/
Work/CalcHEP_Scan_Z/**
!Work/CalcHEP_Scan_Z/scan2.c
!Work/CalcHEP_Scan_Z/scan2.dat

!Work/CalcHEP_Scan_W-_MD1_100GeV/
Work/CalcHEP_Scan_W-_MD1_100GeV/**
!Work/CalcHEP_Scan_W-_MD1_100GeV/scan2.c
!Work/CalcHEP_Scan_W-_MD1_100GeV/scan2.dat

!Work/CalcHEP_Scan_W+_MD1_100GeV/
Work/CalcHEP_Scan_W+_MD1_100GeV/**
!Work/CalcHEP_Scan_W+_MD1_100GeV/scan2.c
!Work/CalcHEP_Scan_W+_MD1_100GeV/scan2.dat

!Work/CalcHEP_Scan_Z_MD1_100GeV/
Work/CalcHEP_Scan_Z_MD1_100GeV/**
!Work/CalcHEP_Scan_Z_MD1_100GeV/scan2.c
!Work/CalcHEP_Scan_Z_MD1_100GeV/scan2.dat

!Work/batch_results/
!Work/batch_files/

Work/batch_results/tmp
Work/batch_results/**/*.distr
Work/batch_results/**/*.jpg
Work/batch_results/**/*.html
Work/batch_results/**/*.dat

Feynmann_Diagrams/*
!Feynmann_Diagrams/
!Feynmann_Diagrams/*.pdf