ProgramFiles/
arXiv-1612.00511v2.tar
calchep_3.9.1
micromegas_6.1.15
micromegas_6.1.15 - belyaev
arXiv-1612.00511v2
.DS_Store
Documents/.DS_Store
Work/
ModelFiles/
Data/
scans/5-D_scans/combined.dat.gz
scans/.DS_Store
scans/5-D_scans/.DS_Store
scans/5-D_scans/cleaned_dat_files/
scans/5-D_scans/combined.dat
FlagsForSh
HEPData-ins2841863-v1-csv.tar
/HEPData-ins2841863-v1-csv/
filedump./micromegas_6.2.3.tar
micromegas_6.2.3
micromegas_6.2.3.tar
Documents/Thesis/*
! Documents/Thesis/Figs
! Documents/Thesis/main.tex
! Documents/Thesis/references.bib
filedump/